.navbar {
    margin-bottom: 2rem;
}

.card {
    margin-bottom: 1rem;
}

.table td, .table th {
    vertical-align: middle;
}

.btn-group-sm > .btn, .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}

.alert {
    margin-bottom: 1rem;
}